Package: org.golde.cydia.Scripts.tinyTowerBot
Name: Tiny Tower Bot 6
Author: Eric Golde
Version: 1.0
Architecture: iphoneos-arm
Description: This is a bot that plays Tiny Tower (This is still in development). Iphone 6 ONLY!
Homepage: http://eric.golde.org/cydia
Maintainer: Eric Golde
Section: ECR_Scripts
Depends: me.autotouch.autotouch.ios8
